/* Reset CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
   background-image: url(bg.jpg);
   
    
  }

 
  /* Define the keyframes for the animation */
  @keyframes animateHue {
    0% {
      filter: hue-rotate(0deg); /* Start with no hue rotation */
    }
    100% {
      filter: hue-rotate(360deg); /* Rotate the hue 360 degrees */
    }
  }
  
  header {
    background-color: #622424;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 20px 30px rgb(204, 186, 186);
  }
  
  nav ul {
    list-style-type: none;
    align-items: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  
  .photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow:5px 5px 10px rgba(126, 114, 114, 0.5);
  }
  
  .photo img:hover {
    transform: scale(1.3);
  }
  
  h2{
    margin-left: 500px;
  }
  p{
    margin-left: 500px;
  }
  video{
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    box-shadow:5px 5px 10px rgba(159, 153, 153, 0.726);
  }


  .photo video:hover {
    transform: scale(1.3);
  }
